* {
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
}
.input-field {
    width: 200px;
}

.navbar {
    background-color: #0dcaf0;
    padding-bottom: 0px;
    margin: 0px;
}

.navbar-brand {
    margin-bottom: 20px;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
    color: white;
  }

  .naviga {
      margin-top: -12px;
  }
  
  .content {
    margin-top: -20px;
  }

  .col-31 {
    height: auto;
    background-color: darkgray;
    color: white;
}

#items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-evenly;
}

.card {
    margin-bottom: 15px;
}

aside h3 {
    border: 1px solid #0dcaf0;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #0dcaf0;
    padding-top: 2px;
    margin-top: 0px;
}

aside h3:hover {
    background-color: whitesmoke;
    color: #0dcaf0;
    cursor: pointer;
}

.me-2:hover {
    background-color: #0dcaf0;
}

aside ul li {
    text-align: justify;
    font-size: larger;
    color: white;
   padding: 10px;
    list-style-type: none;
    margin-left: -10px;
}

aside ul li:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}

.content11 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-evenly;
    background-color: rgb(238, 220, 222);
}

.rows {
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}

.col-31{
    grid-column: -4/-1;
    height: auto;
}

.col-91{
    height: auto;
    background-color: honeydew;
    grid-column: 1/-4;
}

    /* Footer */
    footer .footer-cols {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        text-align: left;
        font-size: 14px;
      }
      
      footer {
        background-color: black;
      }
    
      footer .footer-cols ul {
        list-style: none;
       
      }
    
      footer .footer-cols ul li a{
        text-decoration: none;
        color: white;
      }
    
      footer .footer-cols ul li:first-child {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
        border-bottom: #444 solid 1px;
        margin-bottom: 1rem;
      }
    
      footer .footer-bottom {
        background: #333;
        padding: 1rem;
      }
    
    /* Utility Classes */
    .container {
        max-width: 1180px;
        text-align: center;
        margin: 0 auto;
        padding: 0 3rem;
      }
    
    .lead {
        font-size: 1.3rem;
    }
    
    .text-center {
        text-align: center;
        color: white;
      }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-31 {
        grid-column: 1/-1;
        grid-row: 1/-2;
        text-align: center;
    }

    .rows {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
    }

    .col-91{
        height: auto;
        background-color: rgb(238, 220, 222);
        grid-column: 1/-1;
        grid-row: -2/-1;
    }

    .content11 {
        justify-content: space-evenly;
        background-color: honeydew;
    }
}

